.header_img{
    width:300px;
}

header ul{
    display:flex;
    flex-wrap:wrap;
    padding-top:15px;
    padding-bottom:15px;
    background-color:black;
    color:white;
}

header li{
    list-style:none;
    margin-right:60px;
}

.main-container{
    width: 100%;
    display:flex;
}

.left{
    width:70%;
    font-size:14px;
}
.left img{
    width:100%;


}
.box{
    display:flex;
    column-gap:20px;
    padding:20px;
    width:760px;
    background-color:lightgray;
    flex-wrap: wrap;
    height:300px;
}
.box_img{
    width:175px;
}
img{
    width:100%;
}
.memo{
    margin:0;
    text-align:center;
}
.right{
    width:18%;
    margin-left:2%;
    line-height:30px;
    margin-top:10px;
    border-bottom:100%;
    list-style:none;
}
hr{
height:1px;
background-color:black;
}
footer{
    padding:10px 0;
    text-align:center;
    color:white;
    background-color:black;
}
